---
import '../../css/estilos.css';
---


<section class="w-[98%] mx-auto overflow-visible text-white rounded-lg mt-20 slider" id="slider">
        
    <figure class="relative w-full h-full slider-childs" >

        <img src="./src/assets/carrousel/img1.jpg" class="w-full object-contain min-h-0">
    </figure>

    <figure class="relative w-full h-full slider-childs">

        <img src="./src/assets/carrousel/img2.jpg" class="w-full object-contain min-h-0">
    </figure>
    
    <figure class="relative w-full h-full slider-childs" data-active>

        <img src="./src/assets/carrousel/img3.jpg" class="w-full object-contain min-h-0">

    </figure>

    <button class="slider-prev bg-white rounded-full ml-4" data-button="prev">
        <img src="./src/assets/carrousel/prev.svg" class="w-8 aspect-square md:w-12">
    </button>

    <button class="slider-next bg-white rounded-full mr-4" data-button="next">
        <img src="./src/assets/carrousel/next.svg" class="w-8 aspect-square md:w-12">
    </button>

</section>