---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps3 from '~/components/widgets/step3.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};

import Slider from '~/components/widgets/slider.astro';
---

<Layout metadata={metadata}>
  <Slider />

  <Steps3
    title="Somos una compañia"
    subtitle="Especializada en Equipos de Protección Personal"
    title2="Nuestro compromiso es con el trabajador como factor fundamental  del desarrollo, y con la aplicación humana de la tecnología a nivel empresarial"
    subtitle2="<a href='/about'>Conoce más sobre nosotros -></a>"
    items={[
      {
        title: 'Customer-centric approach',
        title2: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <div class="flex flex-wrap justify-center items-center h-screen mb-10">
    <style>
      .caja {
        background-color: #f1f1f12f;
        padding: 20px;
        text-align: center;
        transition: transform 0.3s; /* Agrega una transición suave */
      }

      .caja:hover {
        transform: translateY(-10px); /* Eleva el div 10 píxeles */
      }
    </style>
    <div class="w-[400px] h-auto mb-10 caja mx-1">
      <img class="aspec-video" src="/images/limpieza.png" alt="" />
      <p class="text-xl mb-3">Empresa de limpieza</p>
      <a href="service-odontogia.php?cat=6" class="single-feature-project-box__link">Conoce más</a>
    </div>
    <div class="w-[400px] h-auto mb-10 caja mx-1">
      <img class="aspec-video" src="/images/limpieza.png" alt="" />
      <p class="text-xl mb-3">Empresa de limpieza</p>
      <a href="service-odontogia.php?cat=6" class="single-feature-project-box__link">Conoce más</a>
    </div>
    <div class="w-[400px] h-auto mb-10 caja mx-1">
      <img class="aspec-video" src="/images/limpieza.png" alt="" />
      <p class="text-xl mb-3">Empresa de limpieza</p>
      <a href="service-odontogia.php?cat=6" class="single-feature-project-box__link">Conoce más</a>
    </div>
    <div class="w-[400px] h-auto mb-10 caja mx-1">
      <img class="aspec-video" src="/images/limpieza.png" alt="" />
      <p class="text-xl mb-3">Empresa de limpieza</p>
      <a href="service-odontogia.php?cat=6" class="single-feature-project-box__link">Conoce más</a>
    </div>
  </div>

  <footer></footer>
</Layout>

<script src="/slider.js" defer></script>
